<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Selector</title>
  </head>
  <body>

    <h1>Puppy Name: <%= params[:name] %></h1>
    <h2>Puppy Breed: <%= params[:breed] %></h2>
    <h2>Puppy Age: <%= params[:age] %></h2>

  </body>

</html>
