<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Selector</title>
  </head>
  <body>

    <h1>Select Puppy</h1>
    <form method="POST" action="/">
      <input type="text" name="name">
      <input type="text" name="breed">
      <input type="text" name="age">
      <input type="submit" id="submit">
    </form>

  </body>

</html>
